@import 'vars';
@import 'fonts';

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  @extend %roboto-400;
  background-color: #000;
  color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}


